{
    "path": ".",
    "rules": {
        "assets": {
            "default.w4a": {
                "images": [
                    "particles/particle_texture.png",
                    "textures/1px.png",
                    "textures/1px_black.png",
                    "textures/Ace_Of_Diamonds.png",
                    "textures/Ace_Of_Hearts.png",
                    "textures/Five_Of_Hearts.png",
                    "textures/Four_Of_Clubs.png",
                    "textures/Four_Of_Hearts.png",
                    "textures/Jack_Of_Hearts.png",
                    "textures/King_Of_Diamonds.png",
                    "textures/King_Of_Hearts.png",
                    "textures/Nine_Of_Clubs.png",
                    "textures/Nine_Of_Clubs_2x.png",
                    "textures/Nine_Of_Hearts.png",
                    "textures/Queen_Of_Clubs.png",
                    "textures/Queen_Of_Hearts.png",
                    "textures/Seven_Of_Hearts.png",
                    "textures/Seven_Of_Spades.png",
                    "textures/Seven_Of_Spades_2x.png",
                    "textures/Six_Of_Clubs.png",
                    "textures/Ten_Of_Clubs.png",
                    "textures/Ten_Of_Clubs_2x.png",
                    "textures/Three_Of_Clubs.png",
                    "textures/Two_Of_Clubs.png",
                    "textures/Two_Of_Clubs_2x.png",
                    "textures/Two_Of_Hearts.png",
                    "textures/awatar_01.png",
                    "textures/awatar_02.png",
                    "textures/awatar_03(2).png",
                    "textures/awatar_03.png",
                    "textures/awatar_04(2).png",
                    "textures/awatar_04(3).png",
                    "textures/awatar_04.png",
                    "textures/bg.png",
                    "textures/bg_fix.jpg",
                    "textures/bg_game.png",
                    "textures/bg_landscape.jpg",
                    "textures/bg_portrait.jpg",
                    "textures/blackout.png",
                    "textures/card_back_1.png",
                    "textures/card_glow.png",
                    "textures/download_btn.png",
                    "textures/download_btn_fix.png",
                    "textures/game_bg_landscape.jpg",
                    "textures/game_bg_portrait.jpg",
                    "textures/icn_hand_512.png",
                    "textures/jack_of_clubs.png",
                    "textures/rays_blend.png",
                    "textures/spades.png",
                    "textures/spades_mania_icon.png",
                    "textures/spades_mania_logo.png",
                    "textures/spades_mania_logo_fix.png",
                    "textures/text/got_it.png",
                    "textures/text/i_win.png",
                    "textures/text/loading.png",
                    "textures/text/no_in_app_purchases.png",
                    "textures/text/partner_wins.png",
                    "textures/text/partner_wins_2.png",
                    "textures/text/put_the_highest_card.png",
                    "textures/text/spades_beat_everything.png",
                    "textures/text/spades_broken.png",
                    "textures/text/start_with_smaller_card.png",
                    "textures/winCardGlow.png"
                ],
                "materials": [
                    "materials/acceleration.mat",
                    "materials/default.mat",
                    "materials/invisible.mat",
                    "materials/progressBar.mat",
                    "materials/simple.mat",
                    "materials/sprite.mat",
                    "materials/unlit.mat"
                ],
                "particles": [
                    "particles/particle.part"
                ]
            }
        },
        "pass": [
            "cards.json",
            "config/config.json",
            "resources.json",
            "settings.json",
            "sounds/After_loading_SpadesMania_Deal_cards.mp3",
            "sounds/SpadesMania_End_round_anim_label_fan.mp3",
            "sounds/SpadesMania_Place_card.mp3",
            "sounds/SpadesMania_Take_trick.mp3",
            "textures/bg1.png",
            "ui/end_screen.json",
            "ui/game_screen.json",
            "ui/start_screen.json",
            "ui/turn_1.json",
            "ui/turn_2.json",
            "ui/turn_3.json",
            "ui/turn_4.json",
            "ui/turn_5.json"
        ],
        "skip": [
            "AssetCreator.config",
            "materials/shaders/acceleration.fs",
            "materials/shaders/default.fs",
            "materials/shaders/default.vs",
            "materials/shaders/invisible.fs",
            "materials/shaders/invisible.vs",
            "materials/shaders/progressBar.fs",
            "materials/shaders/simple.fs",
            "materials/shaders/simple.vs",
            "materials/shaders/sprite.fs",
            "materials/shaders/sprite.vs",
            "materials/shaders/unlit.fs",
            "materials/shaders/unlit.vs"
        ]
    },
    "version": "1.0"
}